@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap");

:root {
  --widtDesktop: 1440px;
  --Cyan: hsl(180, 66%, 49%);

  --white: white;
  --DarkViolet: hsl(257, 27%, 26%);

  --Red: hsl(0, 87%, 67%);

  --gray: hsl(0, 0%, 75%);
  --grayishviolet: hsl(257, 7%, 63%);
  --VeryDarkBlue: hsl(255, 11%, 22%);
  --VeryDarkViolet: hsl(260, 8%, 14%);
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  width: var(--whiteDesktop);
  height: 100%;
  overflow-x: hidden;
}
body,
html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--grayishviolet);
}

a:hover {
  color: var(--VeryDarkViolet);
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

header {
  height: 120px;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 700;
}

header nav {
  height: 80px;
  width: 100%;
}

nav a.singUp {
  background-color: var(--Red);
  padding: 5px 15px;
  margin-left: 25px;
  border-radius: 15px;
  color: var(--white);
}
nav a.singUp:hover {
  background-color: var(--Cyan);
}

.nav_item {
  display: flex;
  justify-content: space-between;
}

.nav_item a {
  margin-left: 1.3em;
}

section.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px 0;
}

section .col {
}

section div .titular_titulo {
  font-size: 3rem;
  line-height: 3.5rem;
  color: var(--VeryDarkViolet);
  margin: 0;
}

section div .titular_slogan {
  font-size: 1rem;
  color: var(--gray);
  margin: 0;
  margin-bottom: 25px;
}

section div .titular_button {
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
  background-color: var(--Red);
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

section div .titular_button:hover {
  background-color: var(--Cyan);
}
section div.col-img {
  position: relative;
}
section div .ilustration {
  width: 650px;
  position: absolute;
  top: -80px;
  right: -220px;
  z-index: -1;
}

section.shorter {
  margin-top: 80px;
  width: 100%;
  height: 80px;
  z-index: 2;
}

section.shorter form.form {
  height: 100%;
  border-radius: 10px;
  background-color: var(--VeryDarkBlue);
  background-image: url(images/bg-shorten-desktop.svg);
  padding: 30px 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

section.shorter form.form input.shorter_input {
  height: 30%;
  width: 70%;
  border: none;
  border-radius: 5px;
  padding: 12px 25px;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
}

section.shorter form.form button.shorter_button {
  height: 60%;
  width: 13%;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--Red);
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
}

section.shorter form.form button.shorter_button:hover {
  background-color: var(--Cyan);
}

.f-aling-justify {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.avances {
  position: relative;
  width: 100%;
  background-color: var(--gray);
  z-index: -1;
  padding: 100px 0;
}

section.avances div.avances_title {
  text-align: center;
}

section.avances div.avances_title h3 {
  font-size: 32px;
  margin-bottom: 0;
}
section.avances div.avances_title p {
  font-size: 14px;
  width: 450px;
  margin: 0 auto;
  color: var(--VeryDarkBlue);
}

section.avances div.avances_grafico {
  height: 250px;
  width: 800px;
  margin: 0 auto;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.avances div.avances_grafico div.card {
  width: 200px;
  height: 180px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  padding: 5px 15px;
}

section.avances div.avances_grafico div.card:last-child {
  align-self: end;
}

section.avances div.avances_grafico div.card:first-child {
  align-self: flex-start;
}

section.avances div.avances_grafico::before {
  content: "";
  width: 700px;
  height: 5px;
  background: var(--Cyan);
  position: absolute;
  z-index: -1;
}

div.card figure {
  background: var(--VeryDarkBlue);
  height: 70px;
  width: 70px;
  border-radius: 40px;
  display: flex;
  place-content: center;
  place-items: center;
  margin-top: -30px;
  margin-left: 3px;
}

div.card figure img {
  height: 30px;
  width: 30px;
}

div.card h4 {
  color: var(--VeryDarkViolet);
  font-size: 18px;
  margin: 0;
  margin-bottom: 5px;
}

div.card p {
  font-size: 11px;
  color: var(--grayishviolet);
  margin: 0;
}

section.getStart {
  width: 100%;
  height: 100px;
  margin: 0;
  background-color: var(--VeryDarkBlue);
  background-image: url(images/bg-boost-desktop.svg);
  background-position-y: center;
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 15px;
}

section.getStart h2 {
  margin: 0;
  color: var(--white);
}

section.getStart button {
  width: 120px;
  background-color: var(--Cyan);
  color: var(--white);
  border-radius: 25px;
  border: none;
  margin: 10px auto;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

section.getStart button:hover {
  filter: brightness(120%);
}

footer {
  background: var(--VeryDarkViolet);
  padding: 25px 50px;
}
footer div.grid {
  display: flex;
  justify-content: space-between;
}

footer div.grid div.brand img {
  height: 20px;
  fill: var(--white);
  color: var(--white);
}

footer div.grid div.links {
  color: var(--white);
  width: 400px;
  display: flex;
  justify-content: space-between;
}

footer div.grid div.links div.col {
  font-size: 11px;
}

footer div.grid div.links div.col h5 {
  font-size: 14px;
  margin: 0;
}

footer div.grid div.links div.col h5:hover,
p:hover {
  color: var(--Cyan);
  cursor: pointer;
}

footer div.rrss {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer div.rrss img:hover {
  color: var(--Cyan);
  cursor: pointer;
}
